:root {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 600;
	font-size: 1.6em;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #db0b7d;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0 auto;
	max-width: 600px;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #fff;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible,
button:focus,
button:focus-visible {
	outline: 4px auto #fff;
}

@media (max-width: 640px) {
	body {
		padding: 20px 30px;
		min-width: auto;
	}

	:root {
		max-width: auto;
	}
}